<!DOCTYPE html>
<html>
<head>
    <title>How's The Pisser</title>
</head>
<body>
    <h1>Welcome to HTP!</h1>

    <a href="/login" style="display: block"><img src="img/connect-blue.png" /></a>
</body>
</html>