<!DOCTYPE html>
<html>
<head>
    <title>How's The Pisser</title>
</head>
<body>
    <hgroup>
        <h1>You are in the pisser.</h1>
        <h3><%= headerFullLocation %></h3>
    </hgroup>

    <script>
        navigator.geolocation.getCurrentPosition( function( position ){
            var   lat
                , lon;

            lat = position.coords.latitude;
            lon = position.coords.longitude;

            console.log( 'Lat: ' + lat + ', Lon: ' + lon );
        });
    </script>
</body>
</html>