<!DOCTYPE html>
<html>
<head>
    <title>How's The Pisser</title>
</head>
<body>
    <h1>Venue</h1>

    <ul id="venue">
        <%= v.venue.name %>
    </ul>

    <script src="/js/lib/jquery.min.js"></script>
</body>
</html>